@model IEnumerable<Raunstrup.Models.Adresse>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vejnavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Husnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.By.Navn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vejnavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Husnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.By.Navn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Aid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Aid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Aid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
