@model RaunstrupAuth.Models.Materialer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@* Her henter den model navne samt data via controleren *@
<div>
    <h4>Materialer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Indkøbspris)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Indkøbspris)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salgspris)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salgspris)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Varenummer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
