@model IEnumerable<RaunstrupAuth.Models.Materialer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@* laver en tabel med data fra flere tabeler og bruger en foreach til at delle alt dataen ud i viewet *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Navn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indkøbspris)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salgspris)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Navn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Indkøbspris)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salgspris)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Varenummer">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Varenummer">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Varenummer">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
