@model RaunstrupAuth.Models.Medarbejder

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medarbejder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tlf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tlf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Udd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Udd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fudd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fudd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.A)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.A.Aid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sp.Spid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Mid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
