@model IEnumerable<RaunstrupAuth.Models.Tilbud>

@{
    ViewData["Title"] = "Index";
}

<h2>Tilbud</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a href="api/apitilbud">Print</a>
</p>

@* laver en tabel med data fra flere tabeler og bruger en foreach til at delle alt dataen ud i viewet *@
<table class="table">
    <thead>
        <tr>
            <th>
                Tilbud Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projekttitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                Kunde Id
            </th>
            <th>
                Rabat Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Projekttitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Startdato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.K.Kid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.R.Rid)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Tid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Tid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Tid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
