@model IEnumerable<RaunstrupAuth.Models.Speciale>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecialeNavn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialeNavn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Spid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Spid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Spid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
