@model IEnumerable<RaunstrupAuth.Models.Medarbejderliste>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="medarbejderlistes" method="post">
    <p>
        Indtast tilbuds ID <input type="number" name="searchNumber" />
        <input type="submit" value="Søg" />
    </p>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timer)
            </th>
            <th>
                Medarbejder Id
            </th>
            <th>
                Rabat Id
            </th>
            <th>
                Tilbud Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.M.Mid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.R.Rid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T.Tid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mlid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mlid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mlid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
