@model Raunstrup.Models.Adresse

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adresse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vejnavn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vejnavn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Husnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Husnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.By)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.By.Navn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Aid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
